PROJECT_NAME=My AirCast
ENVIRONMENT=development

POSTGRES_DB=airwise
POSTGRES_USER=airwise
POSTGRES_PASSWORD=airwise123
POSTGRES_PORT=5432

INFLUXDB_PORT=8086
INFLUXDB_INIT_MODE=setup
INFLUXDB_INIT_USERNAME=airwise
INFLUXDB_INIT_PASSWORD=airwise123
INFLUXDB_INIT_ORG=airwise
INFLUXDB_INIT_BUCKET=aqi_raw
INFLUXDB_INIT_ADMIN_TOKEN=dev-influx-token

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FCM_SERVER_KEY=

AQI_DEFAULT_CITY=Delhi
AQI_DATA_SOURCE_BASE=https://api.example.org/aqi
